Package:sparkscore
Version:0.12.3.4.1
Section: custom
Priority:optional
Architecture:amd64
Depends:  curl, virtualenv, python-pip, cron
Essential:no
Installed-Size:2040
Maintainer:m0r4k
Description:sparkscore client
