[Desktop Entry]
Version=0.12.3.4
Type=Application
Name=Sparks-Qt
GenericName=Sparks
Comment=Sparkspay Coin
Exec=sparks-qt
Terminal=false
MimeType=text/plain;
Icon=sparks-qt
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;

[Desktop Action Window]
Name=New Window
Exec=sparks-qt
OnlyShowIn=Unity;

