Package:sparkscore
Version:0.12.3.5
Section: custom
Priority:optional
Architecture:i386
Depends:  cron, curl, virtualenv, python-pip
Essential:no
Installed-Size:2040
Maintainer:m0r4k
Description:sparkscore client
