Package:sparkscore
Version:0.12.4.1
Section: custom
Priority:optional
Architecture:amd64
Depends:  curl, cron, virtualenv, python-pip
Essential:no
Installed-Size:2040
Maintainer:m0r4k
Description:sparkscore client
